.centerText
{
    text-align: center;
}

.centerBlock
{
    display: block;
    margin: auto;
    width: 50%;
}

.navItems
{
    padding-right: 2em;
    padding-left: 2em;
}

.items
{
    padding: 1em;   
}

#comments
{
    display: block;
    margin: auto;
    width: 90%;
}

section#slideshow > figure > img
{
    padding: 1em;
    display: none;
    margin: auto;
    width: 33%;
    height: 33%;
}

section#slideshow > figure.visible > img
{
    display: block;
    position: relative;
    overflow: hidden;
}

section#slideshow > figure > figcaption
{
    padding: 1em;
    display: none;
    padding: 0em;
    margin: auto;
    width: 50%;
}

section#slideshow > figure.visible > figcaption
{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

