.centerText
{
    text-align: center;
}

.centerBlock
{
    display: block;
    margin: auto;
    width: 50%;
}

.navItems
{
    padding-right: 2em;
    padding-left: 2em;
}

.items
{
    padding: 1em;   
}

section#slideshow > figure > img
{
    padding: 1em;
    display: none;
    margin: auto;
    width: 50%;
}

section#slideshow > figure.visible > img
{
    display: block;
    position: relative;
    overflow: hidden;
}

#comments
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}